body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #D7FDEC;
}

.text-end{
  padding-right: 20px;
}
.justify-content-start{
  padding-left: 20px;
}

footer{
  padding-left: 15%;
  padding-right: 15%;
  background-color: #D7FDEC;
}

#MenuTitle{
  margin-top: 10px;
  margin-bottom: 20px;
}
